@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
* {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

body {
	-webkit-user-select: none;
	user-select: none;
}

#ttt_nametag {
	position: absolute;
	width: 300px;
	height: 50px;
	top: 55%;
	left: 50%;
	margin-left: -150px; /* margin is -0.5 * dimension */
	margin-top: -25px; 
	text-align: center;
	box-sizing: border-box;
	font-family: 'Tahoma';
	font-size: 13px;
	text-shadow: 1px 1px #000;
	color: #fff;
	font-weight: bold;
	display: none;
}

#ttt_nametag .name {
	margin-bottom: -12px;
}

#ttt_nametag .health {
	color: rgba(0, 255, 0, 255);
}

#ttt_nametag .info {
	display: none;
	margin-top: -12px;
}

#ttt_info {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba(0,0,0,0.5);
	height: 90px;
	width: 180px;
	border-radius:10px;
}

#ttt_info > .fraction {
	background-color: #474444;
	padding: 3px;
	color: #fff;
	font-weight: bold;
	border-radius: 10px;
	width: 70%;
	text-align: center;
	float: left;
	text-shadow: 1px 1px 2px #000;
}

#ttt_info > .round_time {
	float: right;
	color: #fff;
	font-weight: bold;
	padding-top: 4px;
	padding-right: 7px;
	text-shadow: 1px 1px 2px #000;
}

#ttt_info > #progress_hp {
	background: #333;
	border-radius: 13px;
	height: 22px;
	width: 95%;
	padding: 2px;
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
}

#ttt_info > #progress_hp > .progressbar_health {

	display: block;
	background: #da2b2b;
	width: 100%;
	height: 100%;
	border-radius: 9px;
}

#ttt_info > #progress_hp > .progressbar_health > .inner_hp_progress {
	position: absolute;
	right: 15px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	bottom: 12px;
	text-shadow: 1px 1px 2px #000;
}

#ttt_info > #progress_karma {
	background: #333;
	border-radius: 13px;
	height: 22px;
	width: 95%;
	padding: 2px;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
}

#ttt_info > #progress_karma > .progressbar_karma {

	display: block;
	background: #da2b82;
	width: 0%;
	height: 100%;
	border-radius: 9px;
}

#ttt_info > #progress_karma > .progressbar_karma > .inner_karma_progress {
	position: absolute;
	right: 15px;
	top: 35px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	bottom: 12px;
	text-shadow: 1px 1px 2px #000;
}

#weapon_ammo_container {
	display: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 200px;
	height: 50px;
	background-image: linear-gradient(to right, #00000000, #00000080);
	text-align: right;
	line-height: 47px;
}

#weapon_ammo_bag {
	color: #ededed;
	font-weight: bold;
	font-size: 16px;
	margin-right: 30px;
	position: relative;
	top: -4px;
}

#weapon_ammo_clip {
	color: white;
	font-weight: bold;
	font-size: 32px;
}

#voice_icon {
	display: none;
	position: absolute;
	right: -20px;
	top: -20px;
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.95);
	}
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
}

#inno_won_overlay {
	background: url("../images/inno_won.png") no-repeat center;
	display: none;
}

#terror_won_overlay {
	background: url("../images/terror_won.png") no-repeat center;
	display: none;
}

#start_overlay {
	background: url("../images/ttt_start.png") no-repeat center;
	background-size: 60%;
}